### **LIBRARIES USED**

In [1]:
import pandas as pd
import geopandas as gpd

### **LOADING DATASETS**

In [2]:
# dataset

train = gpd.read_file("data/train.geojson")
test = gpd.read_file("data/test.geojson")

In [3]:
train.head()

,ID,year,crop,class,geometry
0,ID_Mrbi2k,2024,Rubber,3,"POLYGON ((-7.47662 4.79479, -7.47672 4.7947, -..."
1,ID_ORmFYt,2024,Rubber,3,"MULTIPOLYGON (((-7.11499 4.76768, -7.11471 4.7..."
2,ID_2j2bjN,2024,Rubber,3,"MULTIPOLYGON (((-7.09768 4.90044, -7.09732 4.9..."
3,ID_GsdWS5,2024,Rubber,3,"MULTIPOLYGON (((-7.11829 4.76918, -7.11714 4.7..."
4,ID_zEYtR5,2024,Rubber,3,"POLYGON ((-7.51713 4.66244, -7.51711 4.66249, ..."

In [4]:
test.head()

          ID  year                                           geometry
0  ID_UrUGR0  2024  POLYGON ((-7.56113 4.68498, -7.56119 4.68497, ...
1  ID_3ZmbBi  2024  POLYGON ((-7.53978 4.68285, -7.53978 4.68298, ...
2  ID_tPmH4c  2024  MULTIPOLYGON (((-7.22294 4.69077, -7.22282 4.6...
3  ID_rUfFQH  2024  MULTIPOLYGON (((-7.22599 4.58477, -7.22582 4.5...
4  ID_RrthDZ  2024  MULTIPOLYGON (((-7.09795 4.76096, -7.09771 4.7...

In [5]:
train.crs

<Geographic 2D CRS: EPSG:4326>
Name: WGS 84
Axis Info [ellipsoidal]:
- Lat[north]: Geodetic latitude (degree)
- Lon[east]: Geodetic longitude (degree)
Area of Use:
- name: World.
- bounds: (-180.0, -90.0, 180.0, 90.0)
Datum: World Geodetic System 1984 ensemble
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

- cell 41 of the sample notebook
-