### **LIBRARIES USED**

In [1]:
import os
from pathlib import Path
import shutil
import pandas as pd
import rasterio
import gc

### **LOADING DATASETS**

In [2]:
# dataset
DATA_PATH = Path("s2_images")

train = pd.read_csv("data/Train.csv")
test = pd.read_csv("data/Test.csv")

In [3]:
train.head()

,ID,year,month,tifPath,Target,class
0,ID_h14T0B_Jan,2024,Jan,/content/drive/MyDrive/train_s2_images/s2_Rubb...,Rubber,3
1,ID_KbyKOr_Jan,2024,Jan,/content/drive/MyDrive/train_s2_images/s2_Rubb...,Rubber,3
2,ID_t4Tmmn_Jan,2024,Jan,/content/drive/MyDrive/train_s2_images/s2_Rubb...,Rubber,3
3,ID_yipWoC_Jan,2024,Jan,/content/drive/MyDrive/train_s2_images/s2_Rubb...,Rubber,3
4,ID_XKiksa_Jan,2024,Jan,/content/drive/MyDrive/train_s2_images/s2_Rubb...,Rubber,3

In [4]:
test.head()

,ID,year,month,tifPath
0,ID_731818_Jan,2024,Jan,/content/drive/MyDrive/test_s2_images_/s2_Unkn...
1,ID_790093_Jan,2024,Jan,/content/drive/MyDrive/test_s2_images_/s2_Unkn...
2,ID_931033_Jan,2024,Jan,/content/drive/MyDrive/test_s2_images_/s2_Unkn...
3,ID_079024_Jan,2024,Jan,/content/drive/MyDrive/test_s2_images_/s2_Unkn...
4,ID_691532_Jan,2024,Jan,/content/drive/MyDrive/test_s2_images_/s2_Unkn...

In [5]:
train['tifPath'] = train['tifPath'].astype(str)
test['tifPath'] = test['tifPath'].astype(str)

In [6]:
train['tifPath'] = train['tifPath'].apply(lambda x: x.replace('/content/drive/MyDrive/train_', ''))
test['tifPath'] = test['tifPath'].apply(lambda x: x.replace('/content/drive/MyDrive/test_', ''))

In [7]:
train.head()

,ID,year,month,tifPath,Target,class
0,ID_h14T0B_Jan,2024,Jan,s2_images/s2_Rubber_ID_h14T0B_2024_01.tif,Rubber,3
1,ID_KbyKOr_Jan,2024,Jan,s2_images/s2_Rubber_ID_KbyKOr_2024_01.tif,Rubber,3
2,ID_t4Tmmn_Jan,2024,Jan,s2_images/s2_Rubber_ID_t4Tmmn_2024_01.tif,Rubber,3
3,ID_yipWoC_Jan,2024,Jan,s2_images/s2_Rubber_ID_yipWoC_2024_01.tif,Rubber,3
4,ID_XKiksa_Jan,2024,Jan,s2_images/s2_Rubber_ID_XKiksa_2024_01.tif,Rubber,3

In [8]:
test.head()

              ID  year month                                      tifPath
0  ID_731818_Jan  2024   Jan  s2_images_/s2_Unknown_ID_731818_2024_01.tif
1  ID_790093_Jan  2024   Jan  s2_images_/s2_Unknown_ID_790093_2024_01.tif
2  ID_931033_Jan  2024   Jan  s2_images_/s2_Unknown_ID_931033_2024_01.tif
3  ID_079024_Jan  2024   Jan  s2_images_/s2_Unknown_ID_079024_2024_01.tif
4  ID_691532_Jan  2024   Jan  s2_images_/s2_Unknown_ID_691532_2024_01.tif